/* ========================================================================================== */
/* HTML ELEMENTS */
/* ========================================================================================== */

body {
    color: #4D4D4D;
    height: 100%;
    margin-top: -50px;
}

html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

header {
    background-color: initial;
}

th a {
    color: #4d4d4d;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 16pt;
    font-weight: normal;
}
/*tr {
    background-color: #ececec;
}

th {
    color: #E77A39;
   background-color: #ececec;
}

td {
    color: #ececec;
}

td a {
    color: #ececec;
}

td a:visited {
    color: #4D4D4D;
}

h1 {
    color: #FFFFFF;
}

h2 {
    color: #4D4D4D;
}*/

/* ========================================================================================== */
/* BOOTSTRAP ELEMENTS */
/* ========================================================================================== */

.control-label {
    color: #4D4D4D;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #AAAAAA;
}

.ui-autocomplete {
    color: #4D4D4D;
    background-color: #FFFFFF;
}

.ui-menu-item {
    color: #4D4D4D;
}

.ui-state-focus {
    color: #E77A39;
    background-color: #E6E6E6;
}

/* ========================================================================================== */
/* HEADER */
/* ========================================================================================== */

.logo-heading {
    color: #FFFFFF;
    background-color: #E77A39;
    font-weight: normal;
}

.logo-heading2 {
    color: #FFFFFF;
    background-color: #E77A39;
    font-weight: normal;
}

.sub-heading {
    color: #FFFFFF;
    background-color: #626262;
}

.body-content {
    margin-top: 6px;
}

/* ========================================================================================== */
/* MENU */
/* ========================================================================================== */

.menu-border {
    /*border-left-color: #4D4D4D;*/
}

.nav-menu li a {
    color: #575757 !important;
}

    .nav-menu li a.active {
        color: #E77A39 !important;
    }

    .nav-menu li a:hover {
        color: #E77A39 !important;
    }

.dropdown-menu {
    background-color: #E6E6E6;
}

/* ========================================================================================== */
/* PAGE */
/* ========================================================================================== */

/*.page-heading {
    background: #626262;
}
*/

/* ========================================================================================== */
/* FORM */
/* ========================================================================================== */

.content {
    background-color: #FFFFFF;
}

.banner-home-right {
    background-color: #E77A39;
    opacity: 1;
}

    .banner-home-right a {
        color: #FFFFFF;
    }

.banner-splitter {
    border-right-color: #ffffff;
}

.paging_end {
    margin-bottom:3px;
}

/* ========================================================================================== */
/* BUTTONS */
/* ========================================================================================== */

.btn-search {
    background-color: #626262;
}

    .btn-search:hover {
        background-color: #696969;
        border: none;
    }

.btn-themed {
    background-color: #E77A39;
    color: #FFFFFF;
}

    .btn-themed:hover {
        /*background-color: #E77A39;
    color: #ffffff;*/
    }

.btn-themed-secondary {
    background-color: #E77A39;
    color: #FFFFFF;
}

    .btn-themed-secondary:hover {
        background-color: #E76A39;
        color: #ffffff;
    }

.btn-close {
    background-color: #626262;
    color: #FFFFFF;
}

/* ========================================================================================== */
/* MODAL */
/* ========================================================================================== */

.modal-header {
    color: #FFFFFF;
    background-color: #626262;
    font-size: 18pt;
}

/* ========================================================================================== */
/* TOP FOOTER */
/* ========================================================================================== */

.top-footer {
    background-color: #E6E6E6;
}

    .top-footer a {
        color: #202020;
    }

.top-footer-h2 {
    color: #4D4D4D;
}

.top-footer-p {
    color: #575757;
}

/* ========================================================================================== */
/* BOTTOM FOOTER
*/
/* ========================================================================================== */

/*.btm-footer {
    color: #FFFFFF;
    background-color: #4D4D4D;
}

.btm-footer a 
{
    color: #FFFFFF;
}

.btm-footer-item-border {
    border-right-color: #FFFFFF;
}*/

.btm-footer {
    background-color: #626262;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    /*padding: 45px;*/
    margin-top: 10px;
}

    .btm-footer a {
        color: #FFFFFF;
    }

.btm-footer-item-border {
    border-right-color: #FFFFFF;
}
/* ========================================================================================== */
/* PURCHASE */
/* ========================================================================================== */

.ticket-info h3 {
    color: #4D4D4D;
}

.ticket-info ul {
    color: #4D4D4D;
}

.subscript {
    color: #4D4D4D;
}

/* ========================================================================================== */
/* EVENT PANELS */
/* ========================================================================================== */

.event-date {
    background-color: #91BAEF;
}

.event-date-shaded {
    background-color: #2C4240;
}

.event-performer {
    color: #666666;
}

.event-venue {
    color: #4D4D4D;
}

.event-detail-heading {
    color: #4D4D4D;
}

/* ========================================================================================== */
/* RATING PANELS */
/* ========================================================================================== */

.rating-block {
    border-bottom-color: #4D4D4D;
}

.rating-heading {
    color: #E77A39;
}

.rating-info {
    color: #4D4D4D;
}

/* ========================================================================================== */
/* ACCOUNT BOX */
/* ========================================================================================== */

.box-light {
    background: #E6E6E6;
}

    .box-light h3 {
        color: #DE783A;
    }

    .box-light p {
        margin: 10px 0px;
        font-size: 18px;
        font-weight: bold;
        color: #4D4D4D;
    }

    .box-light ul li a {
        color: #4D4D4D;
    }

.box-light-splitter {
    border-right-color: #DE783A;
}

/* ========================================================================================== */
/* VENUE BOX */
/* ========================================================================================== */

.box-dark {
    background: #4D4D4D;
}

    .box-dark h3 {
        color: #DE783A;
    }

    .box-dark ul li a {
        color: #FFFFFF;
        font-weight: bold;
        font-size: 18px;
    }

/* ========================================================================================== */
/* HELPERS */
/* ========================================================================================== */

.highligted-text {
    color: #DE783A;
}

.row-underline-dark {
    border-bottom-color: #333333;
}

.row-underline-light {
    border-bottom-color: #999999;
}

/* ============================================================================================ */
/* Loading Animation */
/* ============================================================================================ */

.loading-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: #e77a39;
}

.loading-container .loading-header {
    z-index: 2;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 15%;
    margin-bottom: 10px;
}

.loading-container .logo-image {
    height: 70px;
    display: inline-block;
    vertical-align: top;
}

.loading-container .logo-header-container {
    display: inline-block;
    height: 70px;
    vertical-align: top;
    background-color: #E77A39;
}

.loading-container .logo-header {
    color: white;
    font-size: 33px;
    font-family: sans-serif;
    margin: 0;
    padding: 15px;
}

.loader {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 40px;
  width: 80px;
  box-sizing: border-box;
}
.loader .loading-bar {
  position: relative;
  float: left;
  height: 40px;
  width: 4px;
  margin: 0 2px;
  background-color: #ffffff;
}
.loader .loading-bar:nth-child(1) {
  -webkit-animation: loading-bar-1 2s linear infinite;
          animation: loading-bar-1 2s linear infinite;
}
.loader .loading-bar:nth-child(2) {
  -webkit-animation: loading-bar-2 2s linear infinite;
          animation: loading-bar-2 2s linear infinite;
}
.loader .loading-bar:nth-child(3) {
  -webkit-animation: loading-bar-3 2s linear infinite;
          animation: loading-bar-3 2s linear infinite;
}
.loader .loading-bar:nth-child(4) {
  -webkit-animation: loading-bar-4 2s linear infinite;
          animation: loading-bar-4 2s linear infinite;
}
.loader .loading-bar:nth-child(5) {
  -webkit-animation: loading-bar-5 2s linear infinite;
          animation: loading-bar-5 2s linear infinite;
}
.loader .loading-bar:nth-child(6) {
  -webkit-animation: loading-bar-6 2s linear infinite;
          animation: loading-bar-6 2s linear infinite;
}
.loader .loading-bar:nth-child(7) {
  -webkit-animation: loading-bar-7 2s linear infinite;
          animation: loading-bar-7 2s linear infinite;
}
.loader .loading-bar:nth-child(8) {
  -webkit-animation: loading-bar-8 2s linear infinite;
          animation: loading-bar-8 2s linear infinite;
}
.loader .loading-bar:nth-child(9) {
  -webkit-animation: loading-bar-9 2s linear infinite;
          animation: loading-bar-9 2s linear infinite;
}
.loader .loading-bar:nth-child(10) {
  -webkit-animation: loading-bar-10 2s linear infinite;
          animation: loading-bar-10 2s linear infinite;
}
.loader:after {
  content: 'Initializing...';
  font-size: 16px;
  font-family: sans-serif;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
  display: inline-block;
}
@-webkit-keyframes loading-bar-1 {
  1% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  11% {
    -webkit-transform: scaleY(1.4);
            transform: scaleY(1.4);
  }
  21% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes loading-bar-1 {
  1% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  11% {
    -webkit-transform: scaleY(1.4);
            transform: scaleY(1.4);
  }
  21% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@-webkit-keyframes loading-bar-2 {
  7% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  17% {
    -webkit-transform: scaleY(1.4);
            transform: scaleY(1.4);
  }
  27% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes loading-bar-2 {
  7% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  17% {
    -webkit-transform: scaleY(1.4);
            transform: scaleY(1.4);
  }
  27% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@-webkit-keyframes loading-bar-3 {
  13% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  23% {
    -webkit-transform: scaleY(1.4);
            transform: scaleY(1.4);
  }
  33% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes loading-bar-3 {
  13% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  23% {
    -webkit-transform: scaleY(1.4);
            transform: scaleY(1.4);
  }
  33% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@-webkit-keyframes loading-bar-4 {
  19% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  29% {
    -webkit-transform: scaleY(1.4);
            transform: scaleY(1.4);
  }
  39% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes loading-bar-4 {
  19% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  29% {
    -webkit-transform: scaleY(1.4);
            transform: scaleY(1.4);
  }
  39% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@-webkit-keyframes loading-bar-5 {
  25% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  35% {
    -webkit-transform: scaleY(1.4);
            transform: scaleY(1.4);
  }
  45% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes loading-bar-5 {
  25% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  35% {
    -webkit-transform: scaleY(1.4);
            transform: scaleY(1.4);
  }
  45% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@-webkit-keyframes loading-bar-6 {
  31% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  41% {
    -webkit-transform: scaleY(1.4);
            transform: scaleY(1.4);
  }
  51% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes loading-bar-6 {
  31% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  41% {
    -webkit-transform: scaleY(1.4);
            transform: scaleY(1.4);
  }
  51% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@-webkit-keyframes loading-bar-7 {
  37% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  47% {
    -webkit-transform: scaleY(1.4);
            transform: scaleY(1.4);
  }
  57% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes loading-bar-7 {
  37% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  47% {
    -webkit-transform: scaleY(1.4);
            transform: scaleY(1.4);
  }
  57% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@-webkit-keyframes loading-bar-8 {
  43% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  53% {
    -webkit-transform: scaleY(1.4);
            transform: scaleY(1.4);
  }
  63% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes loading-bar-8 {
  43% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  53% {
    -webkit-transform: scaleY(1.4);
            transform: scaleY(1.4);
  }
  63% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@-webkit-keyframes loading-bar-9 {
  49% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  59% {
    -webkit-transform: scaleY(1.4);
            transform: scaleY(1.4);
  }
  69% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes loading-bar-9 {
  49% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  59% {
    -webkit-transform: scaleY(1.4);
            transform: scaleY(1.4);
  }
  69% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@-webkit-keyframes loading-bar-10 {
  55% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  65% {
    -webkit-transform: scaleY(1.4);
            transform: scaleY(1.4);
  }
  75% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes loading-bar-10 {
  55% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  65% {
    -webkit-transform: scaleY(1.4);
            transform: scaleY(1.4);
  }
  75% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

