@using System.Security.Policy
@using Events_Tenant.Common.Utilities
@using Events_TenantUserApp
@using Microsoft.AspNetCore.Mvc.Localization
﻿@inject IViewLocalizer Localizer

@{
    var urlPath = Context.Request.Path.Value;
    string[] urlPieces = urlPath.Split(new[] { "/" }, StringSplitOptions.RemoveEmptyEntries);
    var tenantName = urlPieces[0];

    var tenantConfigs = Context.Session.GetObjectFromJson<List<TenantConfig>>("TenantConfigs");
    TenantConfig tenantConfig = null;
    if (tenantConfigs != null && tenantConfigs.Count() > 0)
    {
        tenantConfig = tenantConfigs.Where(a => a.TenantName == tenantName).First();
    }

    var blobpath = tenantConfig.BlobImagePath;
}

<div class="row">
    <div class="col-xs-12 ">
        <div class="banner">
            <div class="row cover-2">
                <img src=@blobpath class="img-responsive" style="width: 100%">
            </div>
            <div class="banner-home-left" style="width: 97.4%">
                <div class="banner-caption">
                    <span>@Localizer["No Events Available"]</span>
                </div>
            </div>

        </div>
    </div>
</div>
