/* ========================================================================================== */
/* HTML ELEMENTS */
/* ========================================================================================== */

body 
{
    color: #4D4D4D;
    height: 100%;
    margin-top: -50px;
}
html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

header 
{
    background-color: #E6E6E6;

}

th a {
     color: #4d4d4d;
   font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 16pt;
    font-weight: normal;
}
/*tr {
    background-color: #ececec;
}

th {
    color: #E77A39;
   background-color: #ececec;
}

td {
    color: #ececec;
}

td a {
    color: #ececec;
}

td a:visited {
    color: #4D4D4D;
}

h1 {
    color: #FFFFFF;
}

h2 {
    color: #4D4D4D;
}*/

/* ========================================================================================== */
/* BOOTSTRAP ELEMENTS */
/* ========================================================================================== */

.control-label
{
    color: #4D4D4D;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #AAAAAA;
}

.ui-autocomplete {
    color: #4D4D4D;
    background-color: #FFFFFF;
}

.ui-menu-item {
    color: #4D4D4D;
}

.ui-state-focus {
    color: #E77A39;
    background-color: #E6E6E6;
}

/* ========================================================================================== */
/* HEADER */
/* ========================================================================================== */

.logo-heading {
  color: #FFFFFF;
  background-color: #626262;
  font-weight: normal;
}

.logo-heading2 {
  color: #FFFFFF;
  background-color: #E77A39;
  font-weight: normal;
}

.sub-heading {
  color: #FFFFFF;
  background-color: #626262;
}

/* ========================================================================================== */
/* MENU */
/* ========================================================================================== */

.menu-border {
    /*border-left-color: #4D4D4D;*/
}

.nav-menu li a {
	color: #575757 !important;
}

.nav-menu li a.active{
	color: #E77A39 !important;
}

.nav-menu li a:hover {
	color: #E77A39 !important;
}

.dropdown-menu {
    background-color: #E6E6E6;
}

/* ========================================================================================== */
/* PAGE */
/* ========================================================================================== */

.page-heading {
	background:#626262;
}

/* ========================================================================================== */
/* FORM */
/* ========================================================================================== */

.content 
{
    background-color: #FFFFFF;
}

.banner-home-right {
	background-color: #E77A39;
    opacity: 1;
}

.banner-home-right a {
	color: #FFFFFF;
}

.banner-splitter {
	border-right-color: #ffffff;
}

/* ========================================================================================== */
/* BUTTONS */
/* ========================================================================================== */

.btn-search {
	background-color: #626262;
}

.btn-search:hover {
	background-color: #696969;
    border: none;
}

.btn-themed {
    background-color: #E77A39;
    color: #FFFFFF;
}

.btn-themed:hover {
    /*background-color: #E77A39;
    color: #ffffff;*/
}

.btn-themed-secondary {
    background-color: #E77A39;
    color: #FFFFFF;
}

.btn-themed-secondary:hover {
    background-color: #E76A39;
    color: #ffffff;
}

.btn-close {
    background-color: #626262;
    color: #FFFFFF;
}

/* ========================================================================================== */
/* MODAL */
/* ========================================================================================== */

.modal-header {
    color: #FFFFFF;
    background-color: #626262;
    font-size: 18pt;
}

/* ========================================================================================== */
/* TOP FOOTER */
/* ========================================================================================== */

.top-footer {
    background-color: #E6E6E6;
}

.top-footer a {
    
    color: #202020;
}

.top-footer-h2 {
    color: #4D4D4D;
}

.top-footer-p {
	color: #575757;
}

/* ========================================================================================== */
/* BOTTOM FOOTER
*/
/* ========================================================================================== */

/*.btm-footer {
    color: #FFFFFF;
    background-color: #4D4D4D;
}

.btm-footer a 
{
    color: #FFFFFF;
}

.btm-footer-item-border {
    border-right-color: #FFFFFF;
}*/

.btm-footer{
	background-color: #626262;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	/*padding: 45px;*/
	margin-top: 10px;
}

.btm-footer a 
{
    color: #FFFFFF;
}

.btm-footer-item-border {
    border-right-color: #FFFFFF;
}
/* ========================================================================================== */
/* PURCHASE */
/* ========================================================================================== */

.ticket-info h3 {
    color: #4D4D4D;
}

.ticket-info ul {
    color: #4D4D4D;
}

.subscript {
    color: #4D4D4D;
}

/* ========================================================================================== */
/* EVENT PANELS */
/* ========================================================================================== */

.event-date {
	background-color: #91BAEF;
}

.event-date-shaded {
    background-color:#2C4240;   
}

.event-performer {
    color: #666666;
}

.event-venue {
    color: #4D4D4D;
}

.event-detail-heading {
	color: #4D4D4D;
}

/* ========================================================================================== */
/* RATING PANELS */
/* ========================================================================================== */

.rating-block {
    border-bottom-color: #4D4D4D;
}

.rating-heading {
    color: #E77A39;
}

.rating-info {
    color: #4D4D4D;
}

/* ========================================================================================== */
/* ACCOUNT BOX */
/* ========================================================================================== */

.box-light {
	background: #E6E6E6;
}

.box-light h3 {
	color: #DE783A;
}

.box-light p {
	margin: 10px 0px;
	font-size: 18px;
	font-weight: bold;
	color: #4D4D4D;
}

.box-light ul li a {
	color: #4D4D4D;
}

.box-light-splitter {
	border-right-color: #DE783A; 
}

/* ========================================================================================== */
/* VENUE BOX */
/* ========================================================================================== */

.box-dark {
	background: #4D4D4D;
}

.box-dark h3 {
	color: #DE783A;
}

.box-dark ul li a {
	color: #FFFFFF;
	font-weight:bold;
	font-size: 18px;
}

/* ========================================================================================== */
/* HELPERS */
/* ========================================================================================== */

.highligted-text {
	color: #DE783A;
}

.row-underline-dark {
    border-bottom-color: #333333;
}

.row-underline-light {
    border-bottom-color: #999999;
}